.App-header {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 240%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.App-header {
  animation: typewriter 4s steps(45) 1s 1 normal both,
    blinkTextCursor 500ms steps(45) infinite normal;
    font-size: 4vw;
    position: absolute;
}

.opening-link {
    color: white;
    text-decoration: none;
  
}

.TrioPic {
  width: 30%;
  display: none;
}

/* The typing effect */
@keyframes typewriter {
  from { width: 0; }
  to { width: 19.75em; }
}

/* The typewriter cursor effect */
@keyframes blinkTextCursor {
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);