/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #a1a9aa;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #3D889A;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  button:focus {
    outline:0;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
    
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 180px;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background:#3D889A;
    padding: 2em 1em 0;
    font-size: 1.7em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #3D889A;

  }
  
  /* Wrapper for item list */
  .bm-item-list {

    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    text-align: center;
    list-style: none;
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  *:focus {
    outline: 0;
    outline: none;
    }