.Work {
    overflow: auto;
}

.Work p {
    display: inline-block;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: .7px;
}

.ContentAppsPic {
    width: 50%;
    height: 500px;
    float: left;
}

.ProtractorSamplePic {
    width: 50%;
    float: right;
}

.JenkinsSamplePic {
    width: 40%;
    height: 350px;
    float: left;
}

.NetCashLoginPic {
    width: 40%;
    float: right;
}

.SeleniumPic {
    width: 40%;
}