.Work {
    overflow: auto;
}

.Work p {
    display: inline-block;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: .7px;
}

.ContentAppsPic, 
.ProtractorSamplePic, 
.JenkinsSamplePic {
    width: 70%;
}

.NetCashLoginPic, 
.SeleniumPic, 
.TryAnglePic, 
.TryAngleRestaurantPic, 
.GiphyPic {
    width: 50%;
}

.react-tabs__tab-list {
    margin-bottom: 20px;
}

.react-tabs__tab--selected {
   background: rgba(255,255,255,.75);
}