@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
  min-height: 100%;
  overflow: hidden;
}
.App, .About, .Work {
  text-align: center;
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);
}

.opening-link {
  color: white;
  text-decoration: none;
  display: none;
}

.App-header {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.App-header {
  animation: typewriter 4s steps(45) 1s 1 normal both,
    blinkTextCursor 500ms steps(45) infinite normal;
  
}

/* The typing effect */
@keyframes typewriter {
  from { width: 0; }
  to { width: 19.75em; }
}

/* The typewriter cursor effect */
@keyframes blinkTextCursor {
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.navLink {
  padding-right: 20px;
}