*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

html {
  min-height: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.App, .About, .Work {
  text-align: center;
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color:rgb(25,25,25);
  background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
}

/* Left navbar */
.nav-main {
  display: flex;
  background-color: #353738;
}

.nav-box {
  padding: 0px 10px;
  text-align: center;
  animation-name: navPull;
  animation-duration: 1s;  
  animation-delay: 5s;
  animation-fill-mode: both;
}

@keyframes navPull {
  from {width: 0%}
  to {width: 8%}
}

a {
  color: rgb(216, 215, 215);
  flex-direction: column;
}

a:hover {
  text-decoration: none;
  color: rgb(134, 129, 129);
}

.sideNavList {
  list-style-type: none;
  font-size: x-large;
   padding: 10px;
   text-decoration: none;
}

 .info-email, .info-resume {
  animation-name: showInfo;
  animation-duration: 1.7s;  
  animation-delay: 6s;
  animation-fill-mode: both;
  font-size: large;
  margin-bottom: 22px;
}

.info-email {
  margin-top: 50px;
}

.info-resume {
  margin-top: 20px;
}

@keyframes showInfo {
  from {
        visibility: hidden;
        opacity: 0;
       }
  to {
    transition: visibility 0s, opacity 0.5s linear;
    color: gray;
     }
}